<aside class="series-nav" style="background: #f8f6f3; border-left: 3px solid #2e6da4; padding: 0.75em 1em; margin: 1.5em 0; font-size: 0.85em; line-height: 1.6;">
<strong>Series: Unit Testing</strong>
<div style="margin-top: 0.4em;">
<span style="color: #666; font-weight: 600;">Merits:</span>
<a href="/merits-of-unit-tests-part-1/">Why Unit Test?</a> ·
<a href="/the-merits-of-unit-tests-part-2/">Part 2</a> ·
<a href="/the-merits-of-unit-tests-part-3/">Part 3</a> ·
<a href="/unit-tests-ftw-part-4/">Part 4</a> ·
<a href="/merits-of-unit-tests-part-5/">Part 5</a>
</div>
<div style="margin-top: 0.3em;">
<span style="color: #666; font-weight: 600;">Practices:</span>
<a href="/the-big-why-about-unit-tests/">The Big Why</a> ·
<a href="/unit-test-attributes-and-their-trade-offs/">Attributes &amp; Tradeoffs</a> ·
<a href="/defining-unit-tests-two-schools-of-thought/">Two Schools</a> ·
<a href="/in-unit-tests-favor-detroit-over-london/">Detroit over London</a> ·
<a href="/unit-test-the-brains-and-not-the-nerves/">Brains Not Nerves</a> ·
<a href="/dry-unit-tests-are-bad/">DRY Tests</a> ·
<a href="/tests-should-be-isolated-not-coupled/">Coupled Tests</a> ·
<a href="/mocks-stubs-andhow-to-use-them/">Mocks &amp; Stubs</a> ·
<a href="/privatize-your-classes-for-better-unit-testing/">Privatize Classes</a> ·
<a href="/law-of-demeter-and-unit-tests/">Law of Demeter</a> ·
<a href="/beware-of-using-patch-object-to-test-your-python-code/">patch.object</a> ·
<a href="/do-not-index-in-test-coverage/">Coverage Metrics</a> ·
<a href="/tdd-for-bug-fixes/">TDD for Bug Fixes</a>
</div>
</aside>
