---
layout: default
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date">{{ page.date | date_to_string }}</span>
  {{ content }}
</div>

{%if page.backlinks.size > 0 %}
<div class="related">
  <h2>Posts mentioning this post (backlinks)</h2>
  <ul class="related-posts">
    {% for backlink in page.backlinks %}
    <li>
      <h3>
        <a href="{{ site.baseurl }}{{ backlink.url }}{%- if site.use_html_extension -%}.html{%- endif -%}">{{ backlink.title }}</a>
      </h3>
    </li>
    {% endfor %}
  </ul>
</div>
{% endif %}

